.signUpScreen {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpForm {
    width: 500px;
    padding: 2rem 0;
    /*height: 500px;*/
    border-radius: 50px;
    background-color: var(--white-color);
    box-shadow: 20px 20px 1px 1px var(--main-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signUpForm label {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.signUpForm button {
    margin: 1rem 0.5rem;
}
.signUpScreen button:hover {
    cursor: pointer;
}
