.header {
    padding: 0.5rem 0;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.header button {
    margin: 0;
}

.logoContainer {
    width: 30%;
    max-width: 250px;
    text-align: left;
}

.logo {
    padding: 0 1rem;
    font-family: 'Cunia', monospace;
    font-size: 2rem;
    letter-spacing: .3rem;
    color: inherit;
    text-decoration: none;
}

.grade {
    width: 50%;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grade span {
    margin: 0 1rem;
    font-family: 'Cunia', sans-serif;
    font-size: 3rem;
}

.profile {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
}

.profile a {
    text-decoration: none;
    color: white;
}

.money {
    margin: 0 1rem;
    font-family: 'Cunia', sans-serif;
    font-size: 2rem;
}

.dollar {
    font-size: 1.5rem;
}

.signOut {
    font-size: 0.9rem;
}

.icon {
    transition: box-shadow 1000ms;
    box-shadow: 0 0 0 0 var(--light-color);
}

.icon:hover {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 10px 3px var(--light-color);
}

.icon:active {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 0 var(--light-color);
}

.main {
    height: 100vh;
    padding-top: 100px;

    display: flex;
}

.left {
    width: 30%;
    max-width: 250px;
    padding: 0 1rem;

    font-family: 'Cunia', sans-serif;
    font-size: 1.2rem;
    color: var(--black-color);

    text-align: left;
}

.leftContainer {
    position: fixed;
}

.leftLinks {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.leftLinks a {
    color: var(--black-color);
    text-decoration: none;
}

.percent {
    margin: 0 1rem;
}

.center {
    width: 50%;
    max-width: 700px;
}

.gradeTitle {
    margin-top: 0;
}

.right {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 2vw;
}

.rightContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 1.5rem;
    font-family: 'Cunia', sans-serif;
}

.streak {
    width: 200px;
    height: 200px;
    background-color: var(--light-color);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;

    box-shadow: 10px 10px 1px 1px var(--main-color);
}
