@font-face {
  font-family: "Cunia";
  src: local("Cunia"),
  url("./assets/fonts/Cunia.ttf") format("truetype");
}

:root {
  --dark-color: #0000a0;
  --main-color: #6e6efc;
  --light-color: lightblue;
  --white-color: #f0fffb;
  --black-color: #343434;
  --bg-color: rgb(252, 242, 245)
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.App {
  text-align: center;
}
.preloader {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader div {
  width: 500px;
  height: 200px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light-color);
  color: var(--white-color);
  font-family: 'Cunia', sans-serif;
  font-size: 4rem;
}
button {
  padding: 0.25rem 0.5rem;
  margin: 0;
  border-radius: 0.5rem;
  border: 0.5px solid var(--black-color);
  background-color: var(--white-color);
  min-width: 25px;
}
