:root {
  --dark-color: #0000a0;
  --main-color: #6969fa;
  --light-color: lightblue;
  --white-color: #f0fffb;
  --black-color: #505050;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--black-color);
  background-color: var(--white-color);
  min-width: 25px;
}