@font-face {
    font-family: "Cunia";
    src: local("Cunia"),
    url("./assets/fonts/Cunia.ttf") format("truetype");
}

:root {
    --dark-color: #0000a0;
    --main-color: #6e6efc;
    --light-color: lightblue;
    --white-color: #f0fffb;
    --black-color: #343434;
    --bg-color: rgb(252, 242, 245)
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

.App {
    text-align: center;
}

.loadingScreen {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingScreen div {
    width: 500px;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
    color: var(--white-color);
    font-family: 'Cunia', serif;
    font-size: 4rem;

    box-shadow: 20px 20px 1px 1px var(--light-color);
}

.errorRocket {
    margin: 1rem;
    text-decoration: none;
    color: black;
    font-size: 3rem;

    transition: 1000ms;
}

.errorRocket:hover {
    transform: scale(2.4);
}

.errorRocket:active {
    transition: 500ms;
    transform: scale(0.8);
}

button {
    min-width: 25px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;

    border: 0 solid var(--black-color);
    border-radius: 0.5rem;

    font-size: 1rem;
    font-family: 'Cunia', sans-serif;
    color: white;
    background-color: var(--dark-color);
    box-shadow: 0px 3px 0px 0px var(--light-color);
    transition: 200ms;
}

.App button:hover {
    cursor: pointer;
    transform: translate3d(0px, -2px, 0);
    box-shadow: 0px 5px 0px 0px var(--light-color);
}

.App button:active {
    transform: translate3d(0px, 5px, 0);
    box-shadow: 0 0 0px 0px var(--light-color);
}

.snackbar div {
    background-color: #ffba02;
}

.snackbar button {
    transform: none;
    box-shadow: 0 0 0 0 transparent;
}

.snackbar button:hover {
    transform: none;
    box-shadow: 0 0 0 0 transparent;
}

input {
    width: 60%;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 5px solid var(--main-color);
    background-color: white;

    font-size: 1.5rem;
    font-family: 'Cunia', sans-serif;
}
